@use "../../global_styles/typography.scss" as *;
.emailotp {
    @include display-small;
    padding: 8px 0px;
}

.simple2step {
    @include body-large;
    color: #8D8D8D;
    padding-bottom: 24px;
}

.enterotp {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.oopsmsg {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 24px;
}