@use "../../global_styles/typography.scss" as *;

.welcome {
    font-family: Poppins;
    font-weight: 400px;
    font-size: 22px;
    align-items: flex-start;
}

.create {
    @include display-small;
    font-weight: 500;
    font-size: 34px;
    align-items: flex-start;
    padding-bottom: 24px;
}
.lableName{
  font-size: 14px;
  color: #606060;
}

@media (max-width: 978px) {
  .welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .create {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
