@use "../../global_styles/typography.scss" as *;

.fullcontract {
    width: 100%;
    padding-bottom: 100px;

    .contracttext {
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        padding-left: 16px;
    }

    .fileandforms {
        display: flex;
        flex-direction: row;
        border: 1px solid #9A9A9A80;
        border-radius: 16px;
        margin-top: 15px;

        .file {
            flex: 1;
            // border-right: 1px solid #9A9A9A80;
            height: 51.94rem;
            width: 41.94rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px;
            background-color: #F6F6F6;
            border-radius: 16px;
            flex-direction: column;
            border-right: 1px solid #9A9A9A80;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            .upl {
                    
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                    
                .upltext {
                    font-family: Poppins;
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            .zoomactions {
                display: inline-flex;
                gap: 5px;
                border: 1px solid #BBBBBB;
                justify-content: flex-end;
                align-items: flex-end;
                background-color: #FFFFFF;
                // box-sizing: border-box;
                border-radius: 7px;
                width: fit-content;
                margin-top: 10px;
            }
        }

        .forms {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 51.94rem;
            // border-left: 1px solid #9A9A9A80;
            
            .formtop {
                padding: 14px 20px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid lightgray;
                align-items: center;
                flex-shrink: 0;

                .edittext {
                    @include title-large;
                    font-weight: 500;
                }

                .edittopactions {
                    display: flex;
                    gap: 10px;

                    .resettext {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.1px;
                        color: #1093FF;
                        padding-right: 10px;
                    }
                }

            }

            .formdata {
                padding: 13px;
                flex: 1;
                overflow-y: auto;
                

                .sectionheader {
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 16px;
                    color: #25213B;
                    // margin-top: 30px;
                }
                .viewedit {
                        padding: 12px 24px;
                        // width: 100%;
                        background-color: #EBF1FF;
                        border: 1px solid #D0D5DD;
                        border-radius: 4px;
                        margin-bottom: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;

                        .outof {
                            color: #475467;
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 12px;
                        }
                        .view {
                            @include label-medium;
                            font-weight: 500;
                            color: #1093FF;
                        }
                    }

                .fields {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 20px;
                    row-gap: 5px;
                }
            }
            .formbottom {
                padding: 10px;
                flex-shrink: 0;
                border-top: 1px solid lightgray;
            }
        }
    }

    @media (max-width: 1192px) {
        .fileandforms {
            flex-direction: column;
        }
    }
}